* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, #514d4d, #514d4d57);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#image-track img {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

.input-container {
  width: 220px;
  position: absolute;
  top: 10%;
  left: 50%;
}

.icon {
  position: absolute;
  right: 10px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 40px;
  padding: 10px;
  transition: 0.2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
}

.input:focus {
  outline: none;
  border: 0.5px solid black;
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.button {
  --hover-bg: linear-gradient(90deg, #03a8f4c4, #03a8f426);
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 2.5px solid black;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: transparent;
  transition: 0.2s linear;
  font-size: 14px;
  letter-spacing: 2px;
  color: #000;
  position: absolute;
  bottom: 10%;
  left: 50%;
  display: none;
}

.button:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: -5px -5px 0px black;
}

.button:active {
  transform: translate(0);
  box-shadow: none;
}

.loader {
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #03a8f47b;
  box-shadow: 32px -34px 0 5px #03a9f4;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #03a9f4;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.show {
  position: absolute;
  top: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100dvh;
  display: none;
}

.div-class {
  border: 1px solid grey;
  /* transform: translate(200%);
  transition: transform 0.4s ease-out; */
}

.show-div {
  transform: translate(0);
}
